
html, body 
    height 100%
    
body 
    background-color #222
    color: #ddd;
    font-family 'Source Sans Pro', sans-serif
    font-weight: lighter;

a   
    color #eee
    

a.one:hover
    color rgb(222,82,52)

a.two:hover
    color rgb(223,143,58)
    
a.three:hover 
    color rgb(221,212,45)

a.four:hover
    color rgb(68,181,39)

a.five:hover
    color rgb(22,176,202)

h1
    font-size 132px
    color #fff
    margin-left -10px
    margin-top -36px
    z-index 5000i

h2
    font-size 3em
    font-weight lighter
    text-transform capitalize

h2 a
    text-decoration none

#band 
    height 100%
    width auto
    position fixed
    left 650px
    top 0px
    overflow hidden


#band1, #band2, #band3, #band4, #band5 
    background-color #ff0000
    width 30px
    height 100%
    float left


.bandBlock, .bandRule 
    width 30px
    height 30px
    background-color #222

.bandRule 
    background-color transparent

#container
    width 600px
    margin-top -10px
    padding-left 20px
    padding-top 0px

.post
    border-left solid 1px white
    padding-left 20px
    padding-bottom 20px

.post-meta
    font-size 0.9em
    margin-top: 10px
    color #999
    text-transform lowercase

.post p
    text-align justify
    text-justify inter-word
    margin-top 10px
    margin-bottom 10px
    font-size 1em
    //font-style italic
    font-weight normal
    text-transform normal
    letter-spacing normal
    line-height 1.6em
    
.post:before
    height 10px
    width 10px
    content ' '
    border-radius 50%
    background-color rgb(222, 82, 52) 
    position absolute
    left 16px

.date, .commentLink
    font-size 0.8em
    color #ccc

.date
    text-transform uppercase

.label
    margin-right 10px
    font-size: 0.8em;

.gallery 
    background-color #111
    border-radius 15px
    padding 5px
    margin 5px auto

.gallery img
    margin 5px 5px
    border 2px solid transparent

.menu ul
    text-align center
    margin 10px 10px
    margin-bottom 20px

.menu li
    display inline
    margin 10px 10px
    font-size 2em

.menu a
    text-decoration none